<h1><%= @category.title %> [ new idea ]</h1>


<h3>Add New Idea</h3>

<%= bootstrap_form_for [@topic, @idea] do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
