<h1><strong><%= @category.title %></strong> [ <%= @topic.title %> ]</h1>

<%= bootstrap_nested_form_for [@topic] do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
