<h1><%= @category.title %></h1>

<%= bootstrap_form_for @category do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>

<h2>Ideas</h2>

<h3><%= link_to 'Add New Idea', new_category_idea_path(@category) %></h3>
  
<% if @ideas.any? %>
  <ul>
    <% @ideas.each do |idea| %>
      <li><strong><%= idea.title %></strong> <%= link_to 'edit', edit_category_idea_path(@category, idea) %> <%= link_to 'delete', category_idea_path(@category, idea), method: :delete %></li>
        <ul>
          <li>Created: <%= idea.created_at %></li>
          <li>Last Update: <%= idea.updated_at %></li>
        </ul>
    <% end %>
  </ul>
<% end %>